body {
    font-size: 16px;
    color: white;
    background-color: #161616;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1 {
    text-shadow: 2px grey;
    color: #C5050c;
}

.m-2 {
    color: white;
}

/* Grid formatting for displying items */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    background-color: #1f1f1f;
    padding: 20px;
}

.btn {
    background-color: white
}

a.link:link {
    color: white;
    text-decoration: none;
}

a.link:visited {
    color: white;
    text-decoration: none;
}

a.link:hover {
    color: white;
    text-decoration: none;
}

a.link:active {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.shoes img {
    max-width: 200px;
}

/* Navigation header */
.nav-box {
    border: 2px solid white;
    border-radius: 15px;
    background-color: #1a1a1a;
}